/* Home.css */
.section {
  min-height: 100vh; /* Ensure each section is at least 100% of the viewport height */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.section:nth-of-type(even) {
  background-color: rgb(212, 211, 211);
  color: #333; /* Text color for light backgrounds */
}

.section:nth-of-type(odd) {
  background-color: #2a2a2a;
  color: #fff; 
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.section img {
  max-width: 100%;
  height: auto;
}

.typing-text {
  font-size: 24px;
  color: blue;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid blue;
  animation: typing 2s steps(40, end), blink .75s step-end infinite;
}

